body {
    font-family: sans-serif;
}

p {
    color: blue;
    position: relative;
}
p::before, p::after {
    color: red;
    /* font-size: 3em; */
    
    width: 30px;
    height: 30px;
    content: ''; 
    background-image: url(/assets/star.svg);
    display: block;
    font-size: 1em;
    background-size: contain;

}

/* p::first-line {
    background-color: lightpink;
}

li::first-letter {
    color: red;
    font-size: serif;
    background-color: lightgreen;
} */

/* Створити темплейт сторінки з кількома параграфами, кожен перший рядок параграіу виділити фоновим кольором.

Створити список з 8 елементів, першу літеру кожного елеиенту списку зробити іншим шрифтом, іншим кольором і фоновому кольорі.

*/