body {
    font-family: sans-serif;
}

p {
    color: blue;
}

p::before, p::after {
    color: red;
    font-size: 3em;
    background-color: lightblue;
    width: 30px;
    height: 30px;
    content: '';
    display: inline-block;
}