body {
    font-family: sans-serif;
}

p {
    color: blue;
}

p::first-letter {
        color: red;
        font-family: serif;
        font-size: 2em;
}

p::first-line {
    background-color: violet;
}

p::selection {
    background-color: rgba(255, 255, 0, 0.555);
    color: red;
}

input::placeholder {
    color: green;
    background-color: aqua;
}